* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.about-us {
  display: flex;
  transition: 0.3s ease;
  padding: 50px 100px;
}
.info-about {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 5rem;
}
h1 {
  font-family: "pattaya";
}
span {
  color: purple;
}
p {
  font-family: sans-serif;
  font-size: 15px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  margin-top: 1rem;
  background: none;
  font-size: 20px;
  color: rgb(233, 35, 173);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .about-us {
    display: flex;
    flex-direction: column;
  }
  .hamburger-wrapper {
    display: flex;
  }
}
