* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hamburger-wrapper {
  display: flex;
}

.main-container {
  display: flex;
  flex: 1;
  padding: 30px 25px;
  /* height: 10vh; */
  width: 100%;
  background-color: #ffff;
  margin-top: 20px;
}
.info-about {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.header-about {
  width: 50%;
  padding: 2rem;
  line-height: 1.4;
}
.header-about h1 {
  font-family: "Roboto", sans-serif;
}

.about-text {
  display: flex;
  flex-direction: column;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding-top: 20px;
  font-size: 2rem;
}

.icon-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  padding-top: 20px;
}

i {
  font-size: 1rem;
  width: 1rem;
  margin-right: 20px;
}

.image img {
  max-width: 400px;
  border-radius: 15px;
}
/* footer section */
.footer-info {
  height: 100px;
  background-color: black;
}
h4 {
  color: #ffff;
  text-align: center;
  padding-top: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
  margin-left: 20px;
  font-size: 2rem;
  color: #ffff;
}

/* MEDIA QUERY MOBILE APPROACH */
@media (max-width: 600px) {
  .main-container {
    padding: 30px 25px;
    /* height: 230vh; */
    width: 100%;
    background-color: rgb(66, 190, 221);
  }

  .info-about {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 5rem;
  }
  .header-about {
    width: 100%;
  }
  .header-about h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .about-text {
    display: flex;
    flex-direction: column;
  }
  p {
    padding-top: 20px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }

  .icon-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    padding-top: 20px;
  }

  i {
    font-size: 1rem;
    width: 1rem;
    margin-right: 20px;
  }
  .image img {
    width: 100%;
  }

  /* .hamburger-wrapper {
    display: flex;
  } */
}
