@import url(./navbar.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  background-color: rgb(230, 238, 240);
}
/* .hamburger-wrapper {
  display: none;
} */
/* main starts here */
.main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* first section */
.first-section {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/img/coffee-2737047_1920.jpg"); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 200px;
  width: 100%;
  line-height: 1.5;
  height: 100vh;
}
.first-section::before {
  content: "";
  background: url("/assets/img/web-design-2906159_1280.jpg") no-repeat center
    center/cover;
  opacity: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.info {
  padding-top: 200px;
}
@keyframes info {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.info > h1 {
  animation-name: info;
  animation-duration: 3s;
  text-transform: uppercase;
  font-size: 3.45rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  /* text-shadow: 0.4rem 0.4rem 0.1rem rgb(40, 153, 197); */
  text-shadow: 0.4rem 0.4rem 0.1rem rgb(177 16 16 / 95%);
}
@keyframes info-write {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.info > p {
  animation-name: info-write;
  animation-duration: 3s;
  font-size: 1.5rem;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

/* button */
.btn {
  background-image: linear-gradient(
    to right,
    rgb(177, 16, 16),
    rgb(173, 77, 77)
  );
  border: none;
  height: 3rem;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 5rem;
  width: 35%;
  display: inline-block;
  position: relative;
}

a {
  font-family: "Arial, Helvetica, sans-serif";
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.btn a::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 9px;
  left: 100px;
  transition: 0.5s;
}

.btn:hover a {
  padding-right: 25px;
  color: rgb(66, 190, 221);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.btn:hover a:after {
  opacity: 1;
  right: 0;
}

/* second section */
.second-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  line-height: 1.5;
  height: 70vh;
  margin-top: 4rem;
}

.second-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(241, 244, 245);
  /* background: url("/assets/img/programming-1873854_1920.png") no-repeat center
    center/cover; */
  z-index: -1;
}

.about {
  padding-bottom: 10rem;
  padding-top: 90px;
  text-align: center;
}

.about h1 {
  font-size: 2.5em;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 0.625em;
  text-transform: uppercase;
}
.about p {
  font-size: 1.6em;
  text-align: center;
  line-height: 1.4em;
  padding: 3rem;
}
/* skills section */
.what-container:first-child {
  padding-top: 1rem;
  font-size: 1.3rem;
}
.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: rgb(66, 190, 221); */
  background-color: rgb(230, 238, 240);
  width: 100%;
  height: 50vh;
  border-bottom: dotted 1px rgb(255, 0, 0);
}
.skills-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-top: 2rem;
}

.skills-box {
  /* background-color: #ffff; */
  background-color: rgb(66, 190, 221);
  border-radius: 20px;
  text-align: center;
  padding: 3rem;
  width: 400px;
}

.skills-icons > img {
  max-width: 200px;
  margin: 20px;
  height: auto;
}
/* Contact section */
.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.contact-info {
  margin-top: 2rem;
}
.placeholder {
  margin-top: 1rem;
  width: 50%;
  height: 30px;

  border-radius: 15px;
  opacity: 1;
  background-color: lightgrey;
  border: none;
  text-align: left;
  text-indent: 3%;
  padding: 10px;
  font-size: 15px;
}
.text-area {
  margin-top: 2rem;
  color: grey;
  width: 50%;
  background: lightgray;
  padding: 10px;
  outline: none;
  font-size: 15px;
}
.submit-btn {
  margin-top: 2rem;
  width: 50%;
  padding: 10px 18px;
  cursor: pointer;
  border: none;
  border-radius: 1.5rem;
  color: #ffffff;
  font-size: 15px;
  background-image: linear-gradient(
    to right,
    rgb(0, 140, 255),
    rgb(40, 153, 197)
  );
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
h1 {
  font-family: "Overpass";
  font-size: 400;
}
h3 {
  margin-top: 20px;
}

/* MANSORY SECTION*/

.mansory {
  display: grid;
  /* grid-template-columns: 200px 200px 200px 200px;
  /* grid-template-rows: 275px 210px 200px; */
  grid-gap: 1rem;
  margin-top: 5rem;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.mansory,
.figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.figure {
  object-fit: cover;
  object-position: center;
  /* grid-column: 1/3; */
}

.wrapper > h1 {
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* footer section */
.footer-info {
  height: 100px;
  background-color: black;
}
h4 {
  color: #ffff;
  text-align: center;
  padding-top: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
  margin-left: 20px;
  font-size: 2rem;
  color: #ffff;
}

/* MEDIA QUERY */
@media (max-width: 500px) {
  .main-container {
    padding: 30px 15px;
    width: 100%;
  }
  /* First Section */
  .first-section {
    height: 90vh;
    padding: 0;
    background-size: cover;
  }

  .info {
    padding-top: 150px;
  }
  .info > h1 {
    font-size: 1.5rem;
  }

  /* About section */
  .about {
    padding-top: 50px;
    text-align: center;
    color: #ffff;
  }

  .about p {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.6rem;
    padding-top: 20px;
    word-spacing: 0.1rem;
    /* padding: 3rem; */
  }
  /* skills section */
  .what-container:first-child {
    padding-top: 2.5rem;
    font-size: 1.6rem;
  }
  .skills-container {
    display: flex;
    gap: 50px;
    height: 100vh;
  }
  .skills-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-top: 2rem;
  }

  .skills-box {
    width: 100%;
  }
  /* Hamburger */
  .hamburger-wrapper {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .mansory {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .mansory {
    grid-template-columns: 1fr;
  }
}
