@import url(./navbar.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hamburger-wrapper {
  display: none;
}
/* info starts here */
main {
  display: flex;
  padding: 100px 200px;
  gap: 50px;
}
.info {
  width: 40%;
  line-height: 1.5;
}
.info strong {
  color: rgb(167, 43, 179);
}
.info h1 {
  font-size: 35px;
  font-family: "Pattaya", sans-serif;
}
.my-img {
  width: 60%;
}
.my-img img {
  width: 100%;
  height: 100%;
}
.btn {
  background-image: linear-gradient(
    to right,
    rgb(212, 147, 231),
    rgb(167, 43, 179)
  );
  border: none;
  width: 15rem;
  height: 3rem;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
h3 {
  font-family: "Reggae One", cursive;
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px 50px;
  }
  .info {
    width: 100%;
    line-height: 1.5;
  }
  .my-img {
    width: 100%;
  }
  .hamburger-wrapper {
    display: flex;
  }
}
