nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
  /* background-color: rgb(93, 194, 235); */
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3 ease;
  position: fixed;
  width: 100%;
}
.logo {
  font-size: 30px;
  text-decoration: none;
  color: rgb(66, 190, 221);
}
.hamburger-wrapper {
  display: none;
}
.nav-items .nav-links {
  font-size: 1.5rem;
  padding: 20px;
  text-decoration: none;
  color: rgb(66, 190, 221);
}
.nav-items .nav-links:hover {
  background-color: rgb(17, 81, 110);
  color: #fff;
  border-radius: 5px;
}
/* MEDIA QUERY */
@media (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
  }
  .logo {
    width: 130px;
    height: 70px;
  }
  .hamburger-wrapper {
    display: block;
    color: rgb(66, 190, 221);
    cursor: pointer;
    font-size: 25px;
  }

  .nav-items {
    display: none;
  }

  .nav-items .nav-links {
    font-size: 1.5rem;
    padding: 20px;
    text-decoration: none;
    color: rgb(66, 190, 221);
  }
  /* THIS IS A CLASS THAT TELLS WHAT TO DO WHEN THE NAVBAR IS OPENED OR CLICKED */
  .open-nav-item {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;
  }
  .nav-links {
    text-align: right;
  }
}
