*{
    margin: 0;
    padding: 0;
}
nav{
    background: purple;  
     /* height: 100px;
    width: 100%;   */
    padding: 40px 50px;
}
a{
    text-decoration: none;
    color: #ffff;
}
ul{
    float:right;
    list-style: none;
}
.nav-link{
    margin-left: 20px;
    font-size: 25px;
}
.container{
    background-image: url("/people-2594683_1920.jpg");
    height: 100vh;
    width: 100%;
}
.content-container{
 
    /* padding: 10px;
    margin-top: 30px; */
   
}
.header{
    color: rgb(63, 13, 63);
    font-style: italic;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    /* padding-top: 30px; */
    padding: 20px;


}
.text{
    color: purple;
    padding: 20px;
    font-size: 25px;
    margin-top: 14rem;
    text-transform: initial;
    line-height: 1.5;
    word-spacing: 5px;
    white-space: wrap;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .body-area{
    padding: 20px;
} */
.form-container h1{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
label{
    font-size: 20px;
   
}
input{
    border: 1px solid#5555;
    font-size: 18px;
    padding: 5px;
}
.email-wrapper,.tel-wrapper,.question-wrapper,.message-wapper{
    margin-bottom: 20px;
}
.footer{
    background: purple;
    text-align: right;
    height: 50vh;

}
.form-container{
    padding: 25px;
    color: #ffff;
}

